/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Newsreader&display=swap");

body {
  font-family: "Newsreader", serif;
}

/* Jumbotron */
.jumbotron {
  padding: 5rem;
  padding-bottom: 5rem;
  background-color: rgb(130, 255, 213);
}

.jumbotron h4 {
  font-weight: inherit;
}

.jumbotron h2 {
  font-weight: 500;
}
/* Jumbotron */

/* Keahlian */
#Keahlian {
  background-color: rgb(130, 255, 213);
}

.bgcard {
  background-color: rgb(31, 62, 63);
}

#Keahlian p {
  color: mintcream;
}
/* Keahlian */

/* Kontak */
#Kontak {
  background-color: #1b2921;
  background-repeat: no-repeat;
  background-position: center;
}

#Kontak h1 {
  color: rgb(239, 243, 224);
}

#Kontak h3 {
  color: rgb(152, 155, 145);
  font-size: medium;
  font-weight: 150;
  font-style: italic;
  padding-bottom: 2rem;
}
/* Kontak */

/* About */
#Tentang {
  background-color: rgb(191, 250, 230);
}

.imgtentang {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.texttentang {
  padding-top: 3rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
}
/* end About */

/* Biodata */
#Biodata {
  background-color: rgb(152, 221, 198);
}

#Biodata h2 {
  font-weight: bolder;
}
/* end Biodata */

/* Pengalaman */
#Pengalaman {
  background-color: rgb(191, 250, 230);
}

.tombol {
  background-color: darkslategrey;
}

.bgcard_pengalaman {
  background-color: rgb(99, 207, 171);
}

#Pengalaman p {
  color: aliceblue;
  font-style: initial;
}
/* end Pengalaman */

/* Pengalaman */
#Galeri {
  background-color: rgb(191, 250, 230);
}
/* end Pengalaman */

.tab4 {
  tab-size: 6;
}

section {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

section #Biodata {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgb(218, 255, 243);
}

html {
  scroll-behavior: smooth;
}
